// colors
$background: #041010;
$gameboard: #051919;
$primary: #2bba8a;
$white: #f2f2f2;
$gradient: linear-gradient(
  -45deg,
  rgba(41, 187, 138, 1) 0%,
  rgba(3, 88, 67, 1) 100%
);
$high: #2bba8a;
$medium: #ffbc03;
$low: #e95b03;
$typedText: #042222;
$wordBg: #262626;

// fonts
$heading: "Space Mono", monospace;
$text: "Quicksand", sans-serif;

@mixin flex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
