@use "base" as *;
@use "animation" as *;

body {
  background: $background;
  color: $white;
  padding: 2rem;
}

main {
  #game-screen {
    position: relative;
    height: 85vh;
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid $primary;
    background-color: $gameboard;

    @include flex(column);

    .lose-screen {
      @include flex(column);

      h1 {
        span {
          margin-left: -2rem;
        }
      }

      p {
        margin: 1rem 0;
      }

      .taunt {
        font-weight: 600;
        font-size: 1.5rem;
      }

      .final-score {
        span {
          font-weight: 700;
          color: $primary;
        }
      }

      button {
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        border: 1px solid;
        border-radius: 10px;

        margin: 0.5rem;
      }

      .play-again,
      .home {
        &:hover {
          color: $high;
          cursor: pointer;
        }
      }
    }

    .loading {
      @include flex(column);
    }
    .title-content {
      @include flex(column);
      padding: 5rem 2.5rem;
      border-radius: 10px;
      backdrop-filter: blur(2px);

      .rules {
        font-family: $text;
        font-weight: 100;
      }
    }
    img {
      position: absolute;
      height: 100%;
      width: 100%;
    }

    // for testing the game
    .title-content,
    img {
      // display: none;
    }

    .loading {
      display: none;
    }

    .lose-screen {
      display: none;
    }

    h1 {
      font-family: $heading;
      font-size: 7rem;
      font-weight: 400;
      letter-spacing: -5px;
      color: $white;

      margin-bottom: 2rem;

      span {
        color: $primary;
      }
    }

    p {
      font-family: $text;
      letter-spacing: 1.5px;
      font-size: 1.25rem;
      margin: 0.5rem 0;
    }

    .start-btn {
      position: relative;
      margin-top: 2rem;
      padding: 0.75rem 1.5rem;
      font-size: 1.5rem;
      font-family: $text;

      border: 1px solid $primary;
      border-radius: 10px;
      &:hover {
        cursor: pointer;
      }
    }

    button {
      color: $white;
      border: none;
      background-color: transparent;
    }
  }

  .word {
    font-family: $text;
    font-size: 1.5rem;

    border-radius: 5px;
    text-align: center;
    width: 175px;
    height: 40px;
    // position: relative;
    position: absolute;
    background-color: $wordBg;

    // div {
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    //   top: 0;
    //   z-index: 1;
    //   animation: $animation 15s;
    // }

    .overlay {
      border-radius: 2px;
      height: 100%;
      width: 100%;
      z-index: -1;
      animation: $animation 15s;
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;

      b {
        color: $typedText;
        font-weight: normal;
      }
    }
  }

  .current-word {
    display: none;
    font-family: $text;
    width: max-content;
    margin: 0.5rem auto;
    padding: 1rem 0;

    span {
      color: $primary;
      border: 1px solid $white;
      border-radius: 10px;
      padding: 0.5rem;
      margin-left: 0.5rem;
    }
  }

  #stats-container {
    font-family: $text;
    font-size: 1.5rem;
    // padding: 1rem 0;
    @include flex(row, space-between);

    .text {
      color: $primary;
    }
    .score {
      font-family: $heading;
    }
  }

  #lives {
    display: none;
  }
}
