@use "base" as *;
@use "animation" as *;

body {
  background: $background;
  color: $white;
  padding: 2rem;
}

main {
  #game-screen {
    position: relative;
    height: 85vh;
    padding: 1rem;
    background-color: $gameboard;

    @include flex(column);

    .title-content {
      @include flex(column);
      padding: 10rem;
      border-radius: 10px;
      backdrop-filter: blur(2px);
    }
    img {
      position: absolute;
      height: 100%;
      width: 100%;
    }

    // for testing the game
    .title-content,
    img {
      display: none;
    }
    h1 {
      font-family: $heading;
      font-size: 7rem;
      font-weight: 400;
      letter-spacing: -5px;
      color: $white;

      margin-bottom: 2rem;

      span {
        color: $primary;
      }
    }

    p {
      font-family: $text;
      letter-spacing: 1.5px;
      font-size: 1.25rem;
    }
    .start-btn {
      position: relative;
      margin-top: 2rem;
      padding: 0.75rem 1.5rem;
      font-size: 1.5rem;
      font-family: $text;
      &:hover {
        cursor: pointer;
      }
    }

    button {
      color: $white;
      border: none;
      background-color: transparent;
    }

    .start-btn:before {
      @include gradientBorder();
    }
  }

  #game-screen::before {
    @include gradientBorder();
  }

  .word {
    font-family: $text;
    font-size: 1.5rem;

    border-radius: 5px;
    text-align: center;
    width: 175px;
    height: 40px;
    // position: relative;
    position: absolute;
    background-color: $wordBg;

    // div {
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    //   top: 0;
    //   z-index: 1;
    //   animation: $animation 15s;
    // }

    .overlay {
      border-radius: 2px;
      height: 100%;
      width: 100%;
      z-index: -1;
      animation: $animation 15s;
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
    }
  }

  #stats-container {
    font-family: $text;
    font-size: 1.5rem;
    padding: 1rem 0;
    @include flex(row, space-between);

    .text {
      color: $primary;
    }
    .score {
      font-family: $heading;
    }
  }
}
